* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -khtml-user-select: none;
}

.home-recipe-card {
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease-in-out;
}

.home-recipe-card:hover {
    color: inherit;
    transform: translateY(-2px);
}

.navbar {
    height: 60px !important;
    position:fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.invisible-nav-replacer {
    height: 60px !important;
}

.main-content {
    height: 70vh !important;
    overflow-y: scroll;
}